/* registration-form.component.css */

/* Center the form vertically and horizontally */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Form container styling */
  form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Form field styling */
mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

/* Button styling */
button {
    width: 100%;
}

/* Error message styling */
.mat-error {
    font-size: 12px;
    color: #f44336; /* Red color for error messages */
}
/* Headline styling */
.form-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333; /* Adjust color as needed */
  }