<header [className]="'header'">
    <div [className]="'logo'">
        <a href="">
            <i class="fa-solid fa-bag-shopping"></i>
            <h1 [className]="'brand'">Brand</h1>
        </a>
    </div>
    <div [className]="'icons'">
        <a href="">
            <i class="fa-solid fa-user"></i>
            <p>Profile</p>
        </a>
        <a href="">
            <i class="fa-solid fa-message"></i>
            <p>Message</p>
        </a>
        <a href="">
            <i class="fas fa-heart"></i>
            <p>Orders</p>
        </a>
        <a href="">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>My Cart</p>
        </a>
    </div>
</header>