<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span [routerLink]="['/']" >Sastumro</span>
      <span class="spacer"></span>
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-icon-button [routerLink]="['/registration']">
        <mat-icon>info</mat-icon>
        <span>registration</span>
      </button>
      <button mat-icon-button [routerLink]="['/booking']">
        <mat-icon>info</mat-icon>
        <span>booking</span>
      </button>
      <button mat-icon-button [routerLink]="['/coupon']">
        <mat-icon>info</mat-icon>
        <span>coupons</span>
      </button>
      <button mat-icon-button [routerLink]="['/login']">
        <mat-icon>info</mat-icon>
        <span>Login</span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  