<section [className]="'sectioncart'">
    <h3 [className]="'cartheader'">My Cart <span> (3)</span></h3>
    <div [className]="'cartbody'">
        <div [className]="'itemsloop'">
            <div [class]="'item'" *ngFor="let product of products.items">
                <div [className]="'itemcontent'">
                    <img src="assets/images/{{product.image}}" alt="">
                    <div [className]="'info'">
                        <h4 [className]="'producttitle'">{{product.title}}</h4>
                        <h4 [className]="'itemmeta'">Size: {{product.size}}, Color: {{product.color}},  Material: {{product.material}}</h4>
                        <h4 [className]="'itemmeta'">Seller: {{product.seller}}</h4>
                        <div [className]="'btns'">
                            <button (click)="hideProduct()" [className]="'rmbtn'">Remove</button>
                            <button [className]="'savebtn'">Save for later</button>
                        </div>
                    </div>
                </div>
                <div [className]="'itemdetails'">
                    <h4 [className]="'price'">${{product.stockprice}}</h4>
                    <div [className]="'itemqty'">
                        <label for="quantity">Qty:</label>
                        <select [(ngModel)]="product.qty" (ngModelChange)="updateStockPrice()" [className]="'itemqtyselect'" name="{{product.id}}">
                            <option *ngFor="let _ of [].constructor(product.quantity); let i = index" value="{{i+1}}">{{i+1}}</option>
                          </select>
                    </div>
                </div>
            </div>
            <div [className]="'loopbtns'">
                <button [className]="'bcktoshpbtn'"><i class="fa-solid fa-arrow-left"></i>Back to shop</button>
                <button [className]="'rmallbtn'">Remove all</button>
            </div>
        </div>
        <div [className]="'cartdetails'">
            <div [className]="'coupon'">
                <h3>Have a coupon?</h3>
                <input [(ngModel)]="inputValue" placeholder="Add coupon" type="text"><button [className]="'applybtn'" (click)="applyCoupon()">Apply</button>
            </div>
            <div [className]="'checkout'">
                <div [className]="'pricetable'">
                    <div>
                        <p>Subtotal:</p>
                        <p>${{SubtotalPrice}}</p>
                    </div>
                    <div>
                        <p>Discount:</p>
                        <p [className]="'discount'">- ${{discount}}</p>
                    </div>
                    <div>
                        <p>Tax:</p>
                        <p [className]="'tax'">+ $14.00</p>
                    </div>
                    <hr>
                    <div [className]="'total'">
                        <p>Total:</p>
                        <p>${{SubtotalPrice - discount}}</p>
                    </div>
                    <button [className]="'chckbtn'">Checkout</button>
                    <div [className]="'paymentmethods'">
                        <a href="">
                            <img src="assets/images/amex.jpg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/images/mastercard.jpg" alt="">
                        </a>
                        <a href="">
                            <img src="assets/images/pp.png" alt="">
                        </a>
                        <a href="">
                            <img src="assets/images/visa.png" alt="">
                        </a>
                        <a href="">
                            <img src="assets/images/ap.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
