<h2 class="servicesheadline">Our Services</h2>
<h1 class="servicessubtext">High-impact services <br> for your business</h1>
<div class="services">
    <div class="service">
      <h3>Content Marketing</h3>
      <p>Our team creates engaging and shareable content that resonates with your audience, drives organic traffic.</p>
    </div>
    <div class="service">
      <h3>Graphic Design</h3>
      <p>Unlock the power of visual storytelling with our expert graphic design services tailored to elevate your brand and captivate.</p>
    </div>
    <div class="service">
      <h3>Digital Marketing</h3>
      <p>Elevate your brand's online presence with our data-driven digital marketing strategies. From SEO and content marketing to social media and paid advertising, we'll help you reach your target audience and achieve your business goals.</p>
    </div>
    <div class="service">
      <h3>Web Design</h3>
      <p>We specialize in creating visually stunning, user-friendly websites that align with your brand identity and deliver an exceptional experience.</p>
    </div>
    <div class="service">
      <h3>IT Consulting</h3>
      <p>IT consulting, or information technology consulting, refers to the practice of providing advisory and implementation services to businesses. IT consultants can help businesses with a wide range of IT-related needs, such as strategic planning, systems integration, network security, and cloud computing.</p>
    </div>
    <div class="service">
      <h3>Brand Identity</h3>
      <p>It involves creating a unique and recognizable identity that sets the brand apart from competitors and resonates with the target audience. A strong brand identity can help businesses build trust, loyalty, and customer advocacy.</p>
    </div>
  </div>
  