
@font-face {
    font-family: 'DM Sans';
    src: 
      url('/assets/fonts/dm-sans/DMSans-Regular.ttf') format('truetype'),
      url('/assets/fonts/dm-sans/DMSans-Bold.ttf') format('truetype'),
      url('/assets/fonts/dm-sans/DMSans-Italic.ttf') format('truetype'),
}
*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
html, body{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
app-root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
app-footer{
    margin-top: auto;
}
app-contact{
    min-width: 100vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
app-ourservices{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
app-team{
    margin-top: 50px;
    margin-bottom: 50px;
}