h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 600;
  color:#0C0C0C;
  font-family: 'Roboto Serif', sans-serif !important;
}
.team-members{
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member {
  text-align: left;
  padding: 20px;
  margin: 0 20px 0 20px;
}

.team-member img {
  width: 250px;
  height: 350px;
  border-radius: 5%;
  object-fit: cover;
}
.team-member h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.team-member p {
  font-size: 1em;
  color: gray;
}
