.wrapper{
    background-color: #20B2AA;
    height: 200px;
    width: 300px;
    border: solid 5px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.wrapper h1{
    font-weight: bolder;
}
.buttonwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 70%;
}
.buttonwrapper button{
    background-color: #778899;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
}